In [33]:
import glob
import numpy as np
import pandas as pd
import random

train_data_path = '../MIT_split/train'

classes = []
train_image_paths = []

for data_path in glob.glob(train_data_path + '/*'):
    classes.append(data_path.split('/')[-1]) 
    train_image_paths.append(glob.glob(data_path + '/*'))

train_image_paths = [val for sublist in train_image_paths for val in sublist]
random.shuffle(train_image_paths)

idx_to_class = {i:j for i, j in enumerate(classes)}
class_to_idx = {value:key for key,value in idx_to_class.items()}

In [34]:
class_to_idx

{'forest': 0,
 'inside_city': 1,
 'highway': 2,
 'coast': 3,
 'tallbuilding': 4,
 'street': 5,
 'mountain': 6,
 'Opencountry': 7}

In [36]:
labels = []
for path in train_image_paths:
    label = path.split('/')[-2]
    label = class_to_idx[label]
    labels.append(label)

In [41]:
data = []
data.append(train_image_paths)
data.append(labels)

MIT_split_df = pd.DataFrame(data).transpose()
MIT_split_df.columns=['image_paths', 'labels']

In [42]:
MIT_split_df

                                      image_paths labels
0           ../MIT_split/train/forest/land733.jpg      0
1            ../MIT_split/train/coast/n384099.jpg      3
2            ../MIT_split/train/forest/for112.jpg      0
3             ../MIT_split/train/forest/for58.jpg      0
4             ../MIT_split/train/coast/art294.jpg      3
...                                           ...    ...
1876  ../MIT_split/train/tallbuilding/art1747.jpg      4
1877         ../MIT_split/train/forest/nat347.jpg      0
1878   ../MIT_split/train/tallbuilding/art459.jpg      4
1879   ../MIT_split/train/Opencountry/natu885.jpg      7
1880      ../MIT_split/train/mountain/n213048.jpg      6

[1881 rows x 2 columns]

In [43]:
MIT_split_df.to_csv('../MIT_split/train_data.csv')